/vendor
/node_modules
/.phpunit.cache
/.env
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*
!bootstrap/cache/.gitignore
